.wrapper {
    width: 120px;
    max-width: 320px;
    z-index: 12;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    background-color: var(--background-color-select);
    height: 100%;
}