.wrapper {
    padding: 10px 5px 2px 13px;
    height: 368px;
    overflow-y: scroll;
}

.bt-modal {
    margin-left: 0 !important;


.modal {
        height: 44px;
        background-color: rgba(255, 255, 255, 0.08);
        border-color: rgba(255, 255, 255, 0);
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 12px;
        border-radius: 8px;
        width: 100%;
        transition: background-color .1s ease;
        display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 100px;
            padding: 9px 16px;
            border-radius: 4px;
            font-size: 1.6rem;
            font-weight: 700;
            background-color: var(--white);
            border: 1px solid transparent;
            user-select: none;
            font-family: var(--font-family);
        
            +.wrapper {
                margin-left: 8px;
            }
        
            &.disable {
                pointer-events: none;
                opacity: .5;
            }

        &:hover {
            border-color: rgb(208, 209, 211);
            background-color: rgb(18, 18, 18);
            cursor: pointer;
        }
    }

}

.modalIcon {
    flex: 1;
}