.wrapper{
    text-align: center;
    color: var(--white);
}

.title{
    font-size: 2.4rem;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 36px;
}

.label{
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.6rem;
    margin-bottom: 24px;
    line-height: 22px;
}

.box-bt{
    display: flex;
    
}

.bt{
    height: 48px;
    font-size: 1.6rem;
    min-width: 164px;
    &:hover{
        opacity: .8;
    }
}

.bt-cancel{
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--white);
    cursor: pointer;
    &:hover{
        border-color: rgb(208, 209, 211);
            background-color: rgb(18, 18, 18);
    }

}



.isLoading{
    cursor: not-allowed;
}
