.wrapper-children{
    display: flex;
}
.wrapper {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: calc(100vh - 60px);
    flex: 1;
}


.video-item {
    scroll-snap-align: start;
}

.box-loading {
    position: fixed;
    left: 57%;
    transform: translateX(57%);
    bottom: 10%;
    transform: translateY(10%);


    z-index: 1000;
}

.loading {
    animation: spinner .9s linear infinite;
    font-size: 5rem;
    color: var(--primary);

}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.box-friend {
    display: flex;
    align-items: center;
    justify-content: center;
}