.wrapper{
    width: 115px;
    height: 45px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.12);
    justify-content: space-between;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.34);
    cursor: pointer;
}
.wrapper-menu-items{
    padding-top: 0;
   
}

.menu{
    font-size: 1.6rem;
}
.icon{
    color: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease;
    display: flex;
}

.visible{
    transform: rotate(180deg);
}

