.body-header {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-header {
    color: var(--color);

    font-size: 1.5rem;
    font-weight: 600;
}

.title-link {
    color: var(--color);

    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
        text-decoration: underline var(--color);
    }
}