//Menu wrapper
.menu-list {
    width: 224px;

    //Menu item
    .menu-item {
        margin-left: 0;
    }


}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11.2px 16px;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
        cursor: pointer;
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}



//header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


//LOG OUT
.modal-logout {
    text-align: center;
    color: var(--white);
}

.title {
    font-size: 2.4rem;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 36px;
    padding: 0 32px;
}


.box-bt {
    display: flex;

}

.bt {
    height: 48px;
    font-size: 1.6rem;
    min-width: 164px;

    &:hover {
        opacity: .8;
    }
}

.bt-cancel {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--white);
    cursor: pointer;

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(18, 18, 18);
    }

}

.btn-out {
    background-color: rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

.isLoading {
    cursor: not-allowed;
}