.wrapper{
    width: 500px;
    height: calc(100vh - 60px);
    margin-left: 6px;
    position: relative;
    right: -100vw;
    transition: right 0.2s ease;
    max-width: 50rem;
    min-width: 18rem;
    padding: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.12) -1px 0px 1px;
}

.isShowComment{
    right: 0;
}


.box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.box-header-left{
    display: flex;
    line-height: 24px;
    gap: .25rem;
}
.label{
    font-weight: 700;
    font-size: 1.8rem;
}
.label2{
    font-weight: 500;
    font-size: 1.6rem;
}
.exist{
    &:hover{
        color: var(--primary);
        cursor: pointer;
    }
}

//scroll
.wrapper-scroll{

    padding-top: 24px;
    height: 548px;
    overflow-y: scroll;

}
//modal-delete
.modal-delete {
    width: 360px !important;
    background-color: rgba(255, 255, 255, 1) !important;
    color: var(--text-color);
}
.text-modal {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    display: flex;
}
.bt {
    display: flex;
    margin-top: 15px;
}

.de-bt {
    height: 40px;
    width: 144px;
    min-width: 108px;
}

.ca-bt {
    height: 40px;
    width: 144px;
    min-width: 108px;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
    color: var(--text-color);

    &:hover {
        background-color: rgba(0, 0, 0, 0.12);
        ;
    }
}

