// Modal.module.scss
.wrapper {
    --width-modal:483px;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
    width: var(--width-modal);
    max-width: 90%;
    position: relative;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #252525;
}
.app{
    width: 400px;
}

.overlay {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


//modal
.modal-body {
    color: var(--white);
    overflow-y: auto;
    height: 501px;
    
}
.box-icon{
    padding: 15px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: var(--width-modal);
}
.icon-back{
    cursor: pointer;
    visibility: hidden;
}
.icon-close {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .icon {
        cursor: pointer;
        display: flex;
        height: 40.8px;
        width: 40.8px;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.04);
    }

}
.children{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    
}
.box-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 363px;
}

.label {
    font-size: 3.3rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 16px;

}

.footer-modal {
    padding: 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.isCheckCss{
    visibility: hidden;
}

.label-items {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 15px;
    width: 337px;
}

.label-link {
    color: rgba(255, 255, 255, 0.75);;

    &:hover {
        text-decoration: underline;

        &:first-child {
            color: rgba(255, 255, 255, 0.9);
            text-decoration: none;
        }
    }


}

.modal-footer {
    border-top: 0.5px solid rgba(255, 255, 255, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 64px;

}

.account {
    color: var(--white);
    font-size: 1.5rem;
}

.sign-up {
    color: rgb(255, 59, 92);
    font-weight: 600;
    margin-left: 5px;

    &:hover {
        text-decoration: underline;
    }
}

