.wrapper {
    height: calc(100vh - 60px);
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper-box{
    width: 736px;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 15px;
}


.box-loading {
    position: fixed;
    left: 57%;
    transform: translateX(57%);
    bottom: 10%;
    transform: translateY(10%);


    z-index: 1000;
}

.loading {
    animation: spinner .9s linear infinite;
    font-size: 5rem;
    color: var(--primary);

}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}