.box-controls {
    z-index: 2;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 40px;border-bottom-right-radius: 40px;
}

.box-controls-content {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding-top: 5px;
}

.ip-range {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    background-color: #e7dcdc;
    z-index: 3;

    &:hover {
        height: 4px;
        cursor: pointer;
    }
}

.ip-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}

.text-time {
    font-size: 1.2rem;
    color: var(--white);
}

.box-controls-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: 5px;
}

.play-icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    justify-content: center;
}

.icon-pause {
    color: white;
}

.ic-zoom {
    color: white;
}

.right {
    display: flex;
    gap: 10px;
}

.muted {
    display: flex;
    align-items: center;
}