.wrapper {
    padding: 10px 5px 2px 13px;
    height: 368px;
    overflow-y: scroll;
    width: 363px;
}



.wrapper-item {
    position: relative;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 12px;
    border-radius: 8px;
    width: 100%;
    transition: background-color .1s ease;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(18, 18, 18);
    }
}

.icon-item {
    display: flex;
    align-items: center;
    margin-left: 15px;
    flex: 2;

}

.text-item {
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 1.5rem;

}

//icon

.box-success {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: -10px;
    right: 15px;
    height: 16px;
    border-top-left-radius: 11px;
    justify-content: center;
    width: 70px;
    background-color: var(--blue);
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.text-success {
    font-size: 1.1rem;
    font-weight: 600;
}