.wrapper{
    padding: 20px;
    width: 332px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.follow-btn{
    padding: 6px 16px;
}
.isFollow{
    background-color: #f6f2f2;
    color: var(--text-color);
}
.body{
    margin-top: 12px;
    color: var(--text-color);

}

.nickname{
    font-size: 1.8rem;

}

.check{
    color: #20D5EC;
    margin-left: 10px;
    font-size: 1.4rem;

}

.name{
    font-size: 1.4rem;

}

.analytics{
    font-size: 1.8rem;
    margin-top: 10px;

}

.value ~ .value{
    margin-left: 20px;
}

.label{
    color: #161823bf;
}

